* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:100vh;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
  background-color: #ebebeb;
}

section#card {
  position: relative;
  display: grid;
  grid-template-rows: 1fr .6fr .3fr;
  text-align: center;
  background-color: #10214e;
  width: 23rem;
  height: 38rem;
  margin: 0;
  padding: 1em;
}

.banner {
  position: relative;
  height: 14em;
  background-color: white;
  box-shadow: inset 50px 0px 10px -5px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  text-align: right;
}

.profilePicture {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
  height: auto;
  z-index: 0;
}

.name {
  position: absolute;
  bottom: .4em;
  left: .4em;
  text-align: left;
  z-index: 1;
}

.name h1, h2 {
  margin: 0;
}

.name h2 {
  font-weight: lighter;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  position: relative;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.light_item {
  background-color: #52679e;
}

ul li {
  display: flex;
  justify-content: space-between;
  background-color: #34487e;
  padding: .4em;
  margin-bottom: 1em;
}

button.aboutMe {
  cursor: pointer;
  border: none;
  border-top: 4px solid red;
  color: white;
  font-size: xx-large;
  background-color: #34487e;
}

button.aboutMe:active {
  transform: translateY(-4px);
  border: none;
}

button.aboutMe:hover {
  opacity: .9;
}