* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:100vh;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  background-color: #ebebeb;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 35em;
  background-color: #232323;
  padding: 2em;
}

.profilePicture {
  text-align: center;
}

.picture {
  border-radius: 50%;
  height: 14em;
  width: 14em;
  background-color: #37422F;
  overflow: hidden;
}

.picture img {
  position: relative;
  top: 1.4em;
  left: .3em;
  width: 100%;
  height: 100%;
  transform: scale(2.6);
  object-fit: contain;
}

.fullname {
color: white;
}

.dashboard  {
  display: grid;
  grid-template-rows: .2fr 1fr .5fr;
  width: 100%;
  gap: 4em;
}

.dashboardItem {
  height: 100%;
  background-color: #373737;
  border-radius: 7px;
  position: relative;
}

.dashboardItem img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  padding: 3em;
  opacity: .5;
  transition: .3s;
}

.dashboardItem img:hover {
  opacity: 1;
  transition: 0s;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 25em;
  row-gap: 4em;
  column-gap: 2em;
}

.categories .dashboardItem {
  cursor: pointer;
}

::before {
  position: relative;
  bottom: 1.5em;
}

.github::before {
  content: "GitHub";
}

.hobby::before {
  content: "Hobby's";
}

.vaardigheden::before {
  content: "Vaardigheden";
}

.nummers::before {
  content: "favoriete nummers";
}

.films::before {
  content: "Favoriete film/series";
}

.aboutMe::before {
  content: "Over mij";
}