* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:100vh;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  background-color: #ebebeb;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35em;
  gap: 2em;
  background-color: #232323;
  padding: 2em;
}

.profile {
  text-align: center;
}

.picture {
  border-radius: 50%;
  height: 14em;
  width: 14em;
  overflow: hidden;
}

.picture img {
  position: relative;
  top: 1.4em;
  left: .3em;
  width: 100%;
  height: 100%;
  transform: scale(2.6);
  object-fit: contain;
  background-color: #37422F;
}

.fullname {
color: white;
}

.dashboard  {
  display: grid;
  gap: 2em;
  width: 100%;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.categories .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  background-color: #3f3f3f;
  padding: .5em;
  cursor: pointer;
}

.categories img {
  max-width: 100%;
  max-height: auto;
}

.github {
  background-color: #3f3f3f;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.aboutMe p {
  background-color: #3f3f3f;
}